@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 62% 99%;
    --foreground: 231 61% 2%;
    --muted: 231 11% 87%;
    --muted-foreground: 231 5% 29%;
    --popover: 231 62% 99%;
    --popover-foreground: 231 61% 2%;
    --card: 231 62% 99%;
    --card-foreground: 231 61% 2%;
    --border: 231 3% 92%;
    --input: 231 3% 92%;
    --primary: 231 64% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 41.85 95.2% 49.02%;
    --secondary-foreground: 231 17.22% 7.87%;
    --accent: 231 15% 83%;
    --accent-foreground: 231 15% 23%;
    --destructive: 12 82% 35%;
    --destructive-foreground: 12 82% 95%;
    --ring: 231 64% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 45% 0%;
    --foreground: 231 37% 99%;
    --muted: 231 11% 13%;
    --muted-foreground: 231 5% 71%;
    --popover: 231 45% 0%;
    --popover-foreground: 231 37% 99%;
    --card: 231 45% 0%;
    --card-foreground: 231 37% 99%;
    --border: 231 3% 13%;
    --input: 231 3% 13%;
    --primary: 231 64% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 4% 16%;
    --secondary-foreground: 231 4% 76%;
    --accent: 231 4% 16%;
    --accent-foreground: 231 4% 76%;
    --destructive: 12 82% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 231 64% 49%;
  }
}
